body {
    overflow:hidden;
    height: 100%;
    background-color: black;
    text-rendering: optimizeLegibility;
    margin:0px;

}
h4{
    text-align: center;
    color: grey;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 100;

}

html {
    height: 100%;
}

span {
    height: 80%;


}
.CodeMirror { height:80%; }
